@page
@model DownloadQRModel

@if (true)
{
    Layout = "_PdfLayout";
}

<div>
    <center>
        
        <img src="@Model.ImageSrc" alt="QR code" style="width: 200px; height: auto;"/>
        
    </center>
</div>
