@page "{id}"
@model AssetManagement.Web.Areas.Config.Pages.Categories.DetailsModel

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <label class="col-md-3">Name</label>
                    <div class="col-md-9">@Model.Category.Name</div>
                </div>
                
            </div>
        </div>
    </div>
</div>
@section Sidebar{}
