@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="background">
    <div class="home">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="text-center">
                    <h1 class="display-4">Welcome</h1>
                     <a asp-page="ScanQR" class="btn btn-secondary" target="_blank"><i class="fa-solid fa-qrcode"></i> Scan QR Code</a>
                     <div class="">OR</div>
                     <form method="post" asp-page-handler="Asset">
                         <div class="input-group mb-3 mt-1 shadow">
                            <input type="text" class="form-control form-control-lg" placeholder="Search product or serial number..."  name="q" required>
                            <button type="submit" class="btn btn-outline-secondary" >Search</button>
                     
                        </div>
                     </form>
                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a asp-area="Assets" asp-page="Index">
                            <div class="card shadow p-5 h-100 card-link">
                                <div class="text-center">
                                    <i class="fa-solid fa-magnifying-glass-chart text-primary home-icons"></i>
                                </div>
                                <div class="text-center">
                                    <h2>@Model.Assets.Count</h2>
                                </div>
                                 <div class="text-center text-muted">
                                     <h5>Total Assets</h5>
                                </div>
                            </div>
                        </a>                       
                    </div>
                     <div class="col-md-4">
                         <a asp-area="Assets" asp-page="Index" asp-route-dueForService="1">
                              <div class="card shadow p-5 h-100 card-link">
                                <div class="text-center">
                                    <i class="fa-solid fa-circle-exclamation home-icons text-warning"></i>
                                </div>
                                <div class="text-center">
                                    <h2>@Model.DueForService</h2>
                                </div>
                                <div class="text-center text-muted">
                                    <h5>Due for Service</h5>
                                </div>
                            </div>
                         </a>
                    </div>
                     <div class="col-md-4">
                         <a asp-area="Assets" asp-page="Index" asp-route-expLicenses="1">
                             <div class="card shadow p-5 h-100 card-link">
                                <div class="text-center">
                                    <i class="fa-solid fa-triangle-exclamation home-icons text-danger"></i>
                                </div>
                                <div class="text-center">
                                    <h2>@Model.AssetAttributes.Count</h2>
                                </div>
                                <div class="text-center text-muted">
                                    <h5>Expired Licenses</h5>
                                </div>
                            </div>
                         </a>
                        
                    </div>
            </div>
        </div>
    </div>
</div>



